body {
    background-color: #501a6bff;
    max-width: 1200px;
    align-self: center;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
}
.logot {
    margin: 70px auto 70px;
    display: block;
    width: 230px;
}
.slide {
    padding-top: 20;
    padding-bottom: 20;
    background-color: #b362d9ff;
    margin: 45px auto 20px;
}
#btb {
    text-align: center;
    font-family: JostLight;
    font-weight: 200;
    font-size: 42px;
    color: white;
    line-height: 1.1;
}
#bt1 {
    margin-top: 45px;
    margin-bottom: 30px;
    font-family: JostMed;
    font-weight: 500;
    text-align: center;
    color: white;
}
#bt2 {
    font-family: JostLight;
    font-weight: 200;
}
#bt4 {
    font-family: JostMed;
    font-weight: 500;
    color: white;
}
#st1 {
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    font-family: JostMed;
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px;
}
.logos {
    margin: 60px auto 20px;
    display: block;
    width: 300px;
    margin-bottom: 50px;
}
.logop {
    margin: 60px auto 20px;
    display: block;
    width: 300px;
    margin-bottom: 50px;
}
@font-face {
    font-family: JostLight;
    src: url(../Fonts/Jost/Jost-Light.ttf);
}
@font-face {
    font-family: JostMed;
    src: url(../Fonts/Jost/Jost-Medium.ttf);
}
.comingsoon {
    background-color: #6d2391ff;
    padding-bottom: 20;
}
.comingsooner {
    margin-top: 45;
    background-color: #6d2391ff;
    padding-bottom: 20;
}
#bt3 {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 80px;
    font-family: JostLight;
    font-weight: 500;
    text-align: center;
    color: white;
    background-color: #260c32ff;
}
#bt5 {
    font-family: JostLight;
    font-weight: 200;
    margin-left: 70;
    margin-right: 70;
    text-align: center;
    color: white;
    padding-bottom: 40px;
}
#bt6 {
    font-family: JostMed;
    font-weight: 500;
}
#bt7 {
    font-family: JostLight;
    font-weight: 200;
    margin-left: 70;
    margin-right: 70;
    text-align: center;
    color: white;
    padding-bottom: 40px;
    font-size: 28px;
}
#bt8 {
    font-family: JostMed;
    font-weight: 500;
    text-align: center;
    color: white;
    font-size: 20;
}
.butackno {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40;
    margin-bottom: 80;
    padding: 20;
    background-color: #260c32ff;
    font-family: JostLight;
    font-weight: 200;
    text-align: center;
   
}
.butackno1 {
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    text-decoration: none;
}
.top {
    padding: 10;
    margin-top: 0;
    background-color: #260c32ff;
}
#toptxt {
    font-family: JostLight;
    font-weight: 200;
    text-align: center;
    font-size: 160%;
    color: rgb(185, 185, 185);
    font-size: 19;
}
#b1txt {
    font-family: JostLight;
    font-weight: 200;
    text-align: left;
    font-size: 160%;
    color: rgb(185, 185, 185);
    font-size: 15;
    margin-left: 30;
}
#b2txt {
    font-family: JostMed;
    font-weight: 500;
    text-align: left;
    font-size: 160%;
    color: rgb(220, 220, 220);
    font-size: 15;
    margin-left: 30;
    margin-top: 10;
}
.b1atxt {
    font-family: JostMed;
    font-weight: 500;
    color: rgb(185, 185, 185);
}
.bottom {
    padding: 10;
    margin: 20px auto 60px;
    background-color: #260c32ff;
}
.butackno2 {
    color: white;
}
#butackno3 {
    text-align: center;
    font-weight: 500;
    font-family: JostMed;
    font-size: 20px;
    margin: 50px auto 1px;
    text-decoration: underline;
}
#removed {
    text-decoration: line-through;
}
#b1 {
    background-color: #260c32ff;
    margin-bottom: 0;
}
#logot1 {
    background-color: #501a6bff;
    padding: 70;
    margin-top: 0;
}
#yeee {
    text-decoration: none;
}